<div class="wrapper">
    <div class="cols">
        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/hotel.jpeg)">
                    <div class="inner">
                        <p>Hotels</p>
                        <span>$$$</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/hotel.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolore, nemo molestiae
                                et quos porro quis dicta ducimus.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/local.jpeg)">
                    <div class="inner">
                        <p>Local Stays</p>
                        <span>$$</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/local.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolore, nemo molestiae
                                et quos porro quis dicta ducimus.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/camp.jpeg)">
                    <div class="inner">
                        <p>Campsites</p>
                        <span>$</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/camp.jpeg)">
                    <div class=" inner">
                        <section id="innercard">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolore, nemo molestiae
                                et quos porro quis dicta ducimus.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>