<div class="wrapper">
    <div class="cols">
        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(#)">
                    <div class="inner">
                        <p>Itinerary</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                            suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(#)">
                    <div class="inner">
                        <p>Locations</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                            suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(#)">
                    <div class="inner">
                        <p>Bookings</p>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                            suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>