<div class="wrapper">
    <div class="cols">
        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/hotel.jpeg)">
                    <div class="inner">
                        <p>Hotels</p>
                        <span>$$$</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/hotel.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Find comfortable hotels with your favorite ammenities.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/local.jpeg)">
                    <div class="inner">
                        <p>Local Stays</p>
                        <span>$$</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/local.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>The locals love to host travelers and adventurers! Stay with the locals and possibly learn about their favorite activies and the best kept secrets of the <area shape="" coords="" href="" alt=""></p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/camp.jpeg)">
                    <div class="inner">
                        <p>Campsites</p>
                        <span>$</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/camp.jpeg)">
                    <div class=" inner">
                        <section id="innercard">
                            <p>Explore what nature has to offer and make new friends at some of the most beautiful campsites in the country!</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>