<section id="home_top_sec_img">

    <h1 class="home_header_text">Archer</h1>

    <h2 class="home_header_text">An accurate point in the right direction.</h2>

    <p class="home_header_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem possimus voluptas
        deserunt obcaecati animi vero
        doloremque iure eaque eius dolorem dolorum, dignissimos hic consequatur, ullam libero laboriosam inventore,
        laborum
        officia.</p>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form">

                    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                        <input id="first-name" class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                        <input class="input100" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>
                </form>
                <form class="login100-form validate-form">
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Sign In
                        </button>
                        <button class="login100-form-btn">
                            Sign Up
                        </button>
                    </div>
                </form>

                <div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>
            </div>
        </div>
    </div>

</section>

<div class="row">
    <div class="col-sm-6">
        <h4>Itinerary</h4>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis fuga a itaque! Labore impedit voluptas
        dicta sint, veniam explicabo voluptatibus cum doloribus magni adipisci cupiditate vel ullam magnam odio
        eius!
    </div>

    <div class="col-sm">
        <h4>Locations</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus itaque fugiat minima dolorum assumenda
        sed aliquam enim doloremque, sit saepe voluptatum dicta iusto dolore blanditiis quis consequatur, nulla
        recusandae natus!
    </div>

    <div class="col-sm">
        <h4>Bookings</h4>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quae sunt illo maxime quaerat labore
        veritatis repellendus vero praesentium natus! Fugiat sequi quisquam error voluptatem quaerat dicta possimus
        maiores architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore dicta nam,
        ratione et blanditiis, ea rerum commodi quasi aut autem voluptate possimus. Accusamus, nostrum? Doloremque
        incidunt ex dolor nam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae amet sapiente voluptatum
        inventore consectetur rem quo modi. A deleniti, soluta dignissimos impedit corporis ducimus? Aperiam similique
        voluptatum eum magnam veniam?
    </div>