<div class="wrapper">
    <div class="cols">


        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/itinerary.jpeg)">
                    <div class="inner">
                        <p>Itinerary</p>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/itinerary.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>View trip details, add or delete locations, and view current bookings.</p>
                            <a id="link" href="/">View Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>


        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/locations.jpg)">
                    <div class="inner">
                        <p>Locations</p>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/locations.jpg)">
                    <div class=" inner">
                        <section id="innercard">
                            <p>Browse different locations to get your next adventure started.</p>
                            <a id="link" href="/locations">View Locations</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>


        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/bookings.jpeg)">
                    <div class="inner">
                        <p>Bookings</p>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/bookings.jpeg)">
                    <div class=" inner">
                        <section id="innercard">
                            <p>Find a place to kick your feet up at the end of the day.</p>
                            <a id="link" href="/bookings">View Bookings</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>