<div class="wrapper">
    <div class="cols">

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/bigbend.webp)">
                    <div class="inner">
                        <p>Big Bend Park</p>
                        <span>Brewster, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/bigbend.webp)">
                    <div class="inner">
                        <section id="innercard">
                            <p>There is a place in Far West Texas where night skies are dark as coal and rivers carve temple-like canyons in ancient limestone. Here, at the end of the road, hundreds of bird species take refuge in a solitary mountain range surrounded by weather-beaten desert. Tenacious cactus bloom in sublime southwestern sun, and diversity of species is the best in the country. This magical place is Big Bend...</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/backpackingwoods.jpg)">
                    <div class="inner">
                        <p>Barnwell Mountains</p>
                        <span>Gilmer, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/backpackingwoods.jpg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Barnwell Mountain Recreation Area Loop is a 10 mile lightly trafficked loop trail located near Gilmer, Texas that offers scenic views and is rated as moderate. The trail offers a number of activity options.Tests your skills and your vehichle.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/goodwater.jpeg)">
                    <div class="inner">
                        <p>Good Water Loop</p>
                        <span>Georgetown, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/goodwater.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Good Water Loop is a 26.9 mile heavily trafficked loop trail located near Georgetown, Texas that features a lake and is rated as moderate. The trail offers a number of activity options and is accessible year-round. Dogs are also able to use this trail but must be kept on leash.This peaceful loop, located in Cedar Breaks Park is sure to be a favorite.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/huecotanks.jpeg)">
                    <div class="inner">
                        <p>Hueco Tanks</p>
                        <span>El Paso, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/huecotanks.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>A unique geology and a relative abundance of water made the Hueco Tanks site a refuge for nature and humans for over ten thousand years. Formed thirty four million years ago when magma entered an older limestone formation and then cooled, the Hueco geology emerged as weather eroded away the limestone and carved the odd sculptural hoodoos seen today.The Historic Site also offers camping, hiking, and some of the best bouldering and rock climbing in the state.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/enchantedrock.jpeg)">
                    <div class="inner">
                        <p>Enchanted Rock</p>
                        <span>Fredericksburg, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/enchantedrock.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>The massive pink granite dome rising above Central Texas has drawn people for thousands of years. But there’s more at Enchanted Rock State Natural Area than just the dome. The scenery, rock formations and legends are magical, too! Enjoy hiking, backpacking, rock climbing, camping, and stargazing. Enchanted Rock offers 11 miles of trails.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/padreisland.jpeg)">
                    <div class="inner">
                        <p>Padre Island</p>
                        <span>Corpus Christi, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/padreisland.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Padre Island National Seashore separates the Gulf of Mexico from the Laguna Madre, one of a few hypersaline lagoons in the world.  The park protects 70 miles of coastline, dunes, prairies, and wind tidal flats teeming with life.  It is a safe nesting ground for the Kemp’s ridley sea turtle and a haven for over 380 bird species.  It also has a rich history, including the Spanish shipwrecks of 1554.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>