<div class="wrapper">
    <div class="cols">
        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/kayaking.jpg)">
                    <div class="inner">
                        <p>Lake Allatoona</p>
                        <span>Atlanta, Georgia</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/kayaking.jpg)">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                            suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/cayon.jpg)">
                    <div class="inner">
                        <p>Good Water Loop</p>
                        <span>Georgetown, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/cayon.jpg)">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                            suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/backpackingwoods.jpg)">
                    <div class="inner">
                        <p>Barnwell Mountains</p>
                        <span>Gilmer, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/backpackingwoods.jpg)">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                            suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>