<div class="wrapper">
    <div class="cols">

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/bigbend.webp)">
                    <div class="inner">
                        <p>Big Bend Park</p>
                        <span>Brewster, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/bigbend.webp)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolore, nemo molestiae
                                et quos porro quis dicta ducimus.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/backpackingwoods.jpg)">
                    <div class="inner">
                        <p>Barnwell Mountains</p>
                        <span>Gilmer, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/backpackingwoods.jpg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolore, nemo molestiae
                                et quos porro quis dicta ducimus.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/goodwater.jpeg)">
                    <div class="inner">
                        <p>Good Water Loop</p>
                        <span>Georgetown, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/goodwater.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolore, nemo molestiae
                                et quos porro quis dicta ducimus.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/huecotanks.jpeg)">
                    <div class="inner">
                        <p>Hueco Tanks</p>
                        <span>El Paso, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/huecotanks.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolore, nemo molestiae
                                et quos porro quis dicta ducimus.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/enchantedrock.jpeg)">
                    <div class="inner">
                        <p>Enchanted Rock</p>
                        <span>Fredericksburg, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/enchantedrock.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolore, nemo molestiae
                                et quos porro quis dicta ducimus.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="colx" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/padreisland.jpeg)">
                    <div class="inner">
                        <p>Padre Island</p>
                        <span>Corpus Christi, Texas</span>
                    </div>
                </div>
                <div class="back" style="background-image: url(/images/padreisland.jpeg)">
                    <div class="inner">
                        <section id="innercard">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolore, nemo molestiae
                                et quos porro quis dicta ducimus.</p>
                            <a id="link" href="#">Add to Itinerary</a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>