<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archer | ${title}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/png" href="/images/white_logo.png">
</head>

<div class="container-fluid">

    <!-- NAVIGATION BAR -->

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false"
                aria-label="Toggle navigation"><span class="dark-blue-text"><i
                        class="fas fa-bars fa-1x"></i></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent1">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bookings">Bookings</a>
                    </li>
                </ul>

                <span class="navbar-text">
                    <a href="/login">Login</a>
                    <a href="/register">Sign-Up</a>
                </span>

            </div>
        </div>
    </nav>

    <body>

        <!-- HEADER -->

        <section class="home_top_sec_img">
            <div class="home_header_container">
                <h1 class="home_header_text">${heading}</h1>
                <h2 class="home_header_text">${subhead}</h2>
            </div>
        </section>

</div>

<br>

<!-- BODY/BOTTOM CARDS -->

${body}

</body>
</div>

<!-- FOOTER -->

<div class="text-center p-4" style="background-color: #212529; color: white;">
    May 2021 Cohort |
    <a class="text-reset fw-bold" href="https://github.com/joshsimon-bit/archerApp">GitHub</a>
</div>

</html>