#home_top_sec_img {
    background: url(/images/archer_background.jpeg);
    background-position: center;
    background-size: cover;
}

.home_header_text {
    color: white;
}

.login100-form-title {
  color: white;
}

.login100-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}